<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="pager(currentPage, query)">
    <div class="pagination" th:with="startPage=${T(java.lang.Math).max(0, currentPage - 2)}, endPage=${startPage + 4}">
        <div class="pagination-block">
            <a th:if="${currentPage > 0}"
               th:href="@{/recommend(page=${currentPage - 1}, query=${query}, category=${category})}">◀ 이전</a>

            <span th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
            <a th:href="@{/recommend(page=${pageNum}, query=${query}, category=${category})}"
               th:text="${pageNum + 1}"
               th:classappend="${pageNum == currentPage} ? ' active' : ''">
            </a>
        </span>

            <a th:href="@{/recommend(page=${currentPage + 1}, query=${query}, category=${category})}">다음 ▶</a>
        </div>
    </div>

    <style>
        .pagination a.active {
            font-weight: bold;
            color: white;
            background-color: #e50914;
            padding: 5px 10px;
            border-radius: 4px;
        }
    </style>

</div>
</body>
</html>